# Let's tidy up this data set!

This is a data set shared with me earlier this year. It is not something I want to pubicly publish anywhere, but I think it is OK to use this list and keep it in a public repo (for a limited time), for practice purposes.

This is a list of hashtags relating to the German Bundestag election in 2021. We used this CSV to create lexica of relevant hashtags, so we do not currently use all the variables that are in this non-tidy data set.

In [1]:
#Import the necessary packages

import numpy as np                   # start by importing the relevant packages/libraries
import pandas as pd                  # that we use throughout this worksheet
import re
import datetime

## Multiple variables stored in one column

In [54]:
df_tb=pd.read_csv('German Hashtags.csv')
df_tb.columns

df_tb.sample(5)

,Date Added,Category 1,Category 2,Sub-Category 1,Sub-Category 2,Role,Real Name,Sentiment,Hashtags,Comments,Tweet example text,Tweet example link
98,NaN,Election,NaN,Election process,NaN,NaN,NaN,NaN,#erststimme,NaN,NaN,NaN
233,NaN,Political Actors,NaN,Bündnis 90/Die Grünen,NaN,parliamentary group,Katrin Göring-Eckardt,NaN,#katringoering-eckardt,NaN,NaN,NaN
481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,Parties,NaN,CDU,NaN,NaN,NaN,negative,#cdukorruption,NaN,Spähnchen Schlau ist ein element des #Lobbyism...,https://twitter.com/AnkaruG/status/14145886145...
213,NaN,Political Actors,NaN,FDP,NaN,"leader, candidate, parliamentary group",Christian Lindner,NaN,#lindner,NaN,NaN,NaN

In [55]:
del df_tb['Date Added']
df_tb

,Category 1,Category 2,Sub-Category 1,Sub-Category 2,Role,Real Name,Sentiment,Hashtags,Comments,Tweet example text,Tweet example link
0,Political Actors,NaN,Government,NaN,NaN,NaN,NaN,#opposition,NaN,NaN,NaN
1,Political actors,NaN,Government,NaN,NaN,NaN,NaN,#bureg,NaN,NaN,NaN
2,Political Actors,NaN,Government,NaN,NaN,NaN,NaN,#bundesregierung,NaN,NaN,NaN
3,Political actors,NaN,Government,NaN,NaN,NaN,NaN,#kanzleramt,NaN,NaN,NaN
4,Political Actors,NaN,Government,NaN,NaN,NaN,NaN,#innenminister,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN

In [56]:
df_tb.drop(['Category 2', 'Sub-Category 2', 'Role', 'Real Name', 'Sentiment'], axis = 1)

,Category 1,Sub-Category 1,Hashtags,Comments,Tweet example text,Tweet example link
0,Political Actors,Government,#opposition,NaN,NaN,NaN
1,Political actors,Government,#bureg,NaN,NaN,NaN
2,Political Actors,Government,#bundesregierung,NaN,NaN,NaN
3,Political actors,Government,#kanzleramt,NaN,NaN,NaN
4,Political Actors,Government,#innenminister,NaN,NaN,NaN
...,...,...,...,...,...,...
478,NaN,NaN,NaN,NaN,NaN,NaN
479,NaN,NaN,NaN,NaN,NaN,NaN
480,NaN,NaN,NaN,NaN,NaN,NaN
481,NaN,NaN,NaN,NaN,NaN,NaN
482,NaN,NaN,?,NaN,NaN,NaN

In [57]:
# Applying melt (to a long format)
df_tb=df_tb.melt(id_vars=["Category 1", "Sub-Category 1", "Hashtags"],var_name=["Note category"],value_name="Notes")

df_tb.sample(5)

,Category 1,Sub-Category 1,Hashtags,Note category,Notes
771,Parties,Bündnis 90/Die Grünen,#gruene,Sub-Category 2,NaN
28,Political Actors,Government,#arbeitsminister,Category 2,NaN
477,NaN,NaN,NaN,Category 2,NaN
2603,Political Actors,SPD,#heikomaas,Comments,NaN
2319,NaN,NaN,NaN,Sentiment,NaN

In [58]:
print(df_tb)

            Category 1 Sub-Category 1          Hashtags       Note category  \
0     Political Actors     Government       #opposition          Category 2
1     Political actors     Government            #bureg          Category 2
2     Political Actors     Government  #bundesregierung          Category 2
3     Political actors     Government       #kanzleramt          Category 2
4     Political Actors     Government    #innenminister          Category 2
...                ...            ...               ...                 ...
3859               NaN            NaN               NaN  Tweet example link
3860               NaN            NaN               NaN  Tweet example link
3861               NaN            NaN               NaN  Tweet example link
3862               NaN            NaN               NaN  Tweet example link
3863               NaN            NaN                 ?  Tweet example link

     Notes
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
3859   NaN
3860   NaN
3861   NaN
3862   NaN
3863   NaN

[3864 rows x 5 columns]

In [60]:
print(df_tb.Hashtags)

0            #opposition
1                 #bureg
2       #bundesregierung
3            #kanzleramt
4         #innenminister
              ...
3859                 NaN
3860                 NaN
3861                 NaN
3862                 NaN
3863                   ?
Name: Hashtags, Length: 3864, dtype: object

## Remove observations which do not have a hashtag associated with them

In [61]:
mod_df_tb = df_tb.dropna( how='all',
                    subset=['Hashtags'])

In [62]:
print(mod_df_tb)

            Category 1 Sub-Category 1          Hashtags       Note category  \
0     Political Actors     Government       #opposition          Category 2
1     Political actors     Government            #bureg          Category 2
2     Political Actors     Government  #bundesregierung          Category 2
3     Political actors     Government       #kanzleramt          Category 2
4     Political Actors     Government    #innenminister          Category 2
...                ...            ...               ...                 ...
3732               NaN            NaN       #Hochwasser  Tweet example link
3733               NaN            NaN  #Flutkatastrophe  Tweet example link
3734               NaN            NaN     #Laschetlacht  Tweet example link
3735    Culture&Sports            NaN      #Olympia2020  Tweet example link
3863               NaN            NaN                 ?  Tweet example link

     Notes
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
3732   NaN
3733   NaN
3734   NaN
3735   NaN
3863   NaN

[2848 rows x 5 columns]